#B1{
display: none;
position: relative;
}

#I2{
position: relative;
left: 100px;
top: -30px;
}

#I3{
position: relative;
left: 200px;
}

#B2{
display: none;
}

#B3{
display: none;
}

#C2{
position: relative;
left: 100px;
}

#C3{
position: relative;
left: 200px;
}
